*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}

body{
    background-color: #fbfbfb;
    font-family: "WeblogmaYekan";
}
.container{
    width: 85%;
    margin: 0 auto;
}
:root{
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #616161;
    --color-lightgray: #f2f2f2;
    --color-darkgary: #212121;
    --color-lightorange: #ff8175;
    --color-darkorange: #ff5242;
    --color-red: #ea0000;
    --color-limo: #c5e60c;
    --color-purple: #ba0ba5;
}
.send{
    background-color: #ffd701;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-black);
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.link_icon{
    align-self: center;
    font-size: 30px;
    color: var(--color-gray);
    transition: 0.3s;
 }
.link_icon:hover{
    color: var(--color-darkgary);
 }
.link{
    text-decoration: none;
    color: var(--color-gray);
    transition: 0.3s;
}
.link:hover{
    color: var(--color-darkgary);
}
.submit{
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 100;
    transition: 0.3s;
}
.submit:hover{
    filter: brightness(90%);
}
.subtitle{
    color: var(--color-gray);
    margin: 10px 0;
}
/* Header */
header{
    font-size: 15px;
}
header .header_top .container{
    display: flex;
}
/* Header_top */
.header_top{
    background-image: url(./images/header_top_bg.png);
    background-position: center;
    background-size: cover;
    padding: 5px 0;
}
    /* Header_top_right*/
.header_top_right,.header_top_left{
    display: inline-block;
}
.header_top_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_right ul li{
    list-style: none;
}
.header_top_right ul li a{
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}
.header_top_right ul li:hover a{
    color: var(--color-black);
}
    /* Header_top_left */
.header_top_left{
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header_top_left a{
    color: var(--color-white);
    text-decoration: none;
}
.header_top_left a i{
    display: inline-block;
    margin: 5px;
}
/* Header_bottom */
.header_bottom{
    background-image: url(./images/header_bottom_bg.png);
    background-position: center;
    background-size: cover;
    padding: 15px 0;
}
    /* Header_botoom_top */
.header_bottom_top{
    display: flex;
    margin-bottom: 70px;
}
.header_bottom_top a{
    text-decoration: none;
    color: var(--color-white);
    padding: 0 5px;
    font-size: 12px;
    transition: 0.3s;
}
.header_bottom_top a:hover{
    opacity: 0.8;
}
.header_bottom_top a:first-child{
    border-left: 1px solid var(--color-white);
}
    /* Header_bottom_bottom */
.header_bottom_bottom{
    display: flex;
}
.header_bottom_bottom .link{
    font-size: 12px;
    text-decoration: none;
    color: var(--color-white);
    padding: 10px 15px;
    background-color: var(--color-lightorange);
    word-spacing: 2px;
    border-radius: 2px;
    margin-left: 20px;
    transition: 0.3s;
}
.header_bottom_bottom .link:hover{
    background-color: var(--color-darkorange);
}
.header_bottom_bottom .link span{
    padding: 0 5px;
    margin: 0 5px;
    border-left: 1px solid gray;
}
.header_bottom_bottom .link .fas{
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
}
.input_icon{
    position: relative;
    margin: 0 10px;
    
}
.input_icon input[type="text"]{
    font-size: 10px;
    width: 230px;
    padding: 10px;
    border-radius: 2px;
    outline-color:#42A5F5; 
}
.input_icon a{
    position: absolute;
    left: 0;
    top:0;
    padding: 8px;
    color: var(--color-gray);
}
/* Nav */
nav{
    background-color: var(--color-white);
    box-shadow: 0px 2px 10px var(--color-gray);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .container, nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav_menu ul{
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}

nav .nav_menu ul li a,nav .nav_socials ul li a i{
    padding: 20px 10px;
}

.nav_menu ul li{
    color: var(--color-gray);
}
.nav_menu ul li a:hover{
    color: var(--color-darkgary);
}
.nav_menu ul li [class$="home"]{
    display: inline-block;
}
.nav_menu ul li [class$="home"]:hover{
    color: var(--color-purple);
    /* Check it shadow */
}
.nav_menu .fas{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.nav_socials ul li a{
    color: var(--color-gray);
}
.nav_socials ul li:first-child{
    font-size: 13px;
    margin-left: 15px;
    color: var(--color-gray);
}
nav .nav_socials [class$="linkedin-in"]:hover{
    color: #0077B5;
}
nav .nav_socials [class$="instagram"]:hover{
    color: #F77737;
}
nav .nav_socials [class$="twitter"]:hover{
    color: #2fb1eb;
}
nav .nav_socials [class$="facebook-f"]:hover{
    color: #3163a2;
}
/* Submenu */
.menu{
    position: relative;
}
.menu:hover .sub_menu{
    display: block;
}
nav .sub_menu{
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    border-radius: 2px;
    display: none;
}
.sub_menu li{
    padding: 0;
    display: block;
    width: 100%;
}
.menu .sub_menu li a{
    display: block;
    padding: 8px;
}
.menu .sub_menu li a:hover{
    background-color: var(--color-purple);
    color: var(--color-white);
}
/* Main */
.main_top{
    margin: 20px 0;
}
main .main_top img {
    width: 100%;
}
main .main_bottom{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
main .main_bottom figure{
    padding: 0 5px;
    text-align: center;
}

main .main_bottom figure img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
main .main_bottom figure figcaption{
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    padding: 15px 10px;
    margin-top: -10px;
}

/* portfolio */
.portfolio_nav{
    display: flex;
    background-color: var(--color-white);
    padding: 15px;
    border: 1px solid var(--color-lightgray);
    margin: 20px 0;
}
.portfolio_nav_right{
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--color-gray);
}
.portfolio_nav_right h3,.portfolio_nav_right .link_icon, .portfolio_nav_left{
    font-size: 16px;
    margin: 5px;
}
.portfolio_nav_left{
    text-align: end;
}
.portfolio_nav_left a, .portfolio_nav_right .link_icon{
    color: var(--color-gray);
    text-decoration: none;
    transition: 0.3s;
}
.portfolio_nav_right .link_icon:hover{
    color: var(--color-darkgary);
}
.portfolio_nav_left a i{
    margin: 5px;
    font-size: 10px;
}
.portfolio_nav_left a:hover{
    color: var(--color-purple);
}
    /* portfolio_slider */
.portfolio_slider{
    display: flex;
    justify-content: space-between;
}
.portfolio_slider_item{
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    margin: 0 20px;
}
.portfolio_slider_item:first-child{
    margin-right: 0;
}
.portfolio_slider_item:last-child{
    margin-left: 0;
}
.portfolio_slider_item img{
    height: 100%;
    object-fit: cover;
}
.portfolio_slider_item .link, .portfolio_slider_item .subtilte, .portfolio_slider_item ul{
    margin: 10px 0;
}
.portfolio_slider_item ul{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    align-content: center;
}
.portfolio_slider_item ul li{
    list-style: none;
}
.portfolio_slider_item ul li a{
    color: var(--color-gray);
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--color-lightgray);
    border-radius: 50%;
}
.portfolio_slider_item ul li a i{
    font-size: 10px;
    padding: 10px;
}
.portfolio_slider_item ul li a:hover{
    color: var(--color-white);
    background-color: var(--color-lightorange);
}
.portfolio_slider_item ul li a:active{
    background-color: var(--color-red);
}
.portfolio_slider_item ul li i[class$="shopping-cart"]{
    background-color: var(--color-lightorange);
    border-radius: 50%;
    color: var(--color-white);
}
.portfolio_slider_item ul li i[class$="shopping-cart"]:hover{
    background-color: var(--color-darkorange);
}
.portfolio_slider_item .link{
    color: var(--color-purple);
}
.portfolio_slider_item .link:hover{
    color: var(--color-lightorange);
}
.stock{
    position: absolute;
    top: 20px;
    left: 20px;
}
.stock span{
    color: var(--color-gray);
}
.stock i{
    color: var(--color-white);
    width: 19px;
    height: 20px;
    font-size: 10px;
    background-color: var(--color-limo);
    padding: 5px;
    border-radius: 50%;
}
.stock [class$="times"]{
    background-color: var(--color-red);
    padding: 5px 6px;
}
.portfolio_advertising{
    display: flex;
    justify-content: space-around;
    background-color: #ffd701;
    padding: 10px 20px;
    height: 150px;
    align-items: center;
    line-height: 1.3;
    font-weight: bold;
    margin: 30px 0;
}
.advertising_about h3{
    font-size: 28px;
    font-weight: bold;
    color: var(--color-darkgary);
}
.advertising_about h4{
    font-size: 24px;
    color: var(--color-darkgary);
}
.advertising_price p{
    font-size: 22px;
    color: var(--color-lightorange);
}
.advertising_price span{
    font-size: 20px;
    display: block;
    color: var(--color-gray);
}
.advertising_price del{
    color: var(--color-gray);
}
.advertising_submit{
    padding: 0 15px;
    text-align: center;
}
.advertising_submit .submit i{
    margin: 0 5px;
}
.advertising_submit .submit:first-child i{
    font-size: 20px;
}
.advertising_submit .submit:first-child{
    background-color: var(--color-red);
}
.advertising_submit .submit:last-child{
    background-color: var(--color-gray);
}
.portfolio_banner{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner_item_small{
    position: relative;
    padding: 0 7px 0 20px;
    margin-bottom: 20px;
}
.portfolio_banner :first-child{
    padding-right: 0;
}
.portfolio_banner :first-child a img{
    padding-left: 10px;
}
.banner_item_small a, .banner_item_small a img, .banner_item_large a, .banner_item_large a img{
    height: 100%;
}
.banner_item_small .link{
    text-align: left;
    position: absolute;
    top: 45%;
    left:20%;
    font-size: 20px;
    width: 50%;
    color: var(--color-gray);
    padding: 5px;
    background-color: rgba(255,255,255,0.8);
    height: auto;
}
.portfolio_banner :nth-child(3){
    padding-right: 20px;
}
.portfolio_banner :nth-child(4){
    padding-left: 20px;
}
.portfolio_banner :nth-child(5){
    padding-right: 15px;
}
.portfolio_banner :last-child{
    padding-left: 0;
}
.banner_item_large{
    margin-bottom: 20px;
    position: relative;
}
.banner_item_large .banner_cover{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 20px;
    padding: 30px;
    height: 100%;
}
.banner_item_large .banner_cover a{
    color: var(--color-white);
    text-decoration: none;
}
.banner_item_large .banner_cover .title{
    font-size: 22px;
}
.banner_item_large .banner_cover .send{
    padding: 5px 20px;
    align-self: flex-end;
    height: auto;
    font-size: 18px;
    color: var(--color-darkgary);
    border-radius: 2px;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}
.banner_item_large .banner_cover .send i{
    color: var(--color-white);
    margin-right: 10px;
}
/* portfolio3 */
.portfolio3_slider_item img{
    height: 180px;
    object-fit: cover;
}
/* About */
#about{
    margin: 30px 0;
    display: flex;
}
#about .container{
    display: flex;
}
.blog , .news{
    padding: 20px;
    background-color: var(--color-white);
    display: inline-block;
    border: 1px solid var(--color-lightgray);
}
.blog{
    margin-left: 40px;
}
.blog_header, .news_header{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    color: var(--color-purple);
    border-bottom: 1px solid var(--color-lightgray);
    margin-bottom: 20px;
}
.blog_header_right{
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.blog_header_right h3{
    margin: 0 10px;
}
.blog_header_left{
    text-align: left;
}
.blog_header_left .link{
    color: var(--color-purple);
    font-size: 12px;
    padding: 0 10px;
}
.blog_header_left .link:hover{
    color: var(--color-lightorange);
}
.blog_footer ul li{
    display: flex;
    padding: 10px;
    margin: 10px 0;
    transition: 0.3s;
}
.blog_footer ul li:hover{
    background-color: var(--color-lightgray);
}
.blog_footer ul li .footer_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog_footer ul li .footer_title a{
    text-decoration: none;
    color: var(--color-gray);
    font-weight: 100;
    transition: 0.3s;
}
.blog_footer ul li .footer_title a:hover{
    color: var(--color-darkgary);
}

.blog_footer ul li .footer_date span,.blog_footer ul li .footer_view span{
    font-size: 14px;
    color: var(--color-gray);
    font-weight: 100;
}
.blog_footer ul li .footer_view{
    text-align: left;
}
.news .news_header h3{ 
    margin: 0 10px;
}
.news_footer_item{
    display: flex;
}
.news_item_left_header{
    display: flex;
    justify-content: space-between;
    color: var(--color-gray);
}
.news_item_left_header .link{
    font-size: 14px;
    color: var(--color-gray);
}
.news_item_left_header .link:hover{
    color: var(--color-darkgary);
}
.news_item_left_header span{
    font-size: 14px;
}
.news_item_left_footer{
    color: var(--color-gray);
    margin: 10px 0;
}
.news_item_left_footer p{
    height: 38px;
    line-height: 1.2;
    overflow: hidden;
    text-align: justify;
    font-weight: 100;
}
.news_footer_item{
    padding: 8px 0;
    border-bottom: 1px solid var(--color-lightgray);
}
.news_footer_item:last-child{
    border-bottom: none;
}
/* Footer */
.footer_img{
    height:170px;
    background-image: url(./images/footer_img.png);
    background-size: cover;
    background-position: center;
}
footer{
    background-color: var(--color-purple);
    padding: 20px 0 50px;
    color: var(--color-white);
}
footer .footer_item_title{
    font-size: 18px;
    margin: 30px 0;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_item{
    display: flex;
    margin: 30px 0;
}
footer ul li{
    list-style: none;
    margin: 15px 0;
}
footer .link, footer .socials{
    color: var(--color-white);
    display: block;
    margin: 10px 0;
}
footer .link:hover{
    color: var(--color-white);
    opacity: 0.8;
}
.footer_item_about p{
    font-size: 12px;
}
.footer_item_about li{
    margin: 30px 0;
}
.footer_item_information address{
    font-style: normal;
    font-size: 15px;
    line-height: 1.4;
}
.footer_item_information address p{
    font-size: 13px;
    margin: 10px 0;
}
.footer_item_information address a{
    text-decoration: none;
    color: var(--color-white);
    transition: 0.3s;
}
.footer_item_information address a:hover{
    opacity: 0.8;
}
.footer_socials ul{
    display: flex;
    flex-direction: row-reverse;
}
.footer_socials ul li{
    margin: 5px;
}
.footer_socials ul li a i{
    width: 37px;
    height: 37px;
    padding: 10px;
    background-color: green;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
}
.footer_socials ul li a i[class$="fa-facebook-f"]{
    background-color: #3163a2;
}
.footer_socials ul li a i[class$="fa-facebook-f"]:hover{
    background-color: #254b7b;
}
.footer_socials ul li a i[class$="fa-twitter"]{
    background-color: #2fb1eb;
}
.footer_socials ul li a i[class$="fa-twitter"]:hover{
    background-color: #1498d3;
}
.footer_socials ul li a i[class$="fa-instagram"]{
    background-color: #f652b3;
}
.footer_socials ul li a i[class$="fa-instagram"]:hover{
    background-color: #f3229e;
}
.footer_socials ul li a i[class$="fa-linkedin-in"]{
    background-color: #0077B5;
}
.footer_socials ul li a i[class$="fa-linkedin-in"]:hover{
    background-color: #005582;
}
.footer_socials ul li a i[class$="fa-google-plus-g"]{
    background-color: #f15c58;
}
.footer_socials ul li a i[class$="fa-google-plus-g"]:hover{
    background-color: #ed2e29;
}



/* Media Query */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-1{width: 8.33%;}
    .col-lg-2{width: 16.66%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.33%;}
    .col-lg-5{width: 41.66%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.33%;}
    .col-lg-8{width: 66.66%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.33%;}
    .col-lg-11{width: 91.66;}
    .col-lg-12{width: 100%;}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.66%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66;}
    .col-md-12{width: 100%;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66;}
    .col-sm-12{width: 100%;}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .col-xs-1{width: 8.33%;}
    .col-xs-2{width: 16.66%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.33%;}
    .col-xs-5{width: 41.66%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.33%;}
    .col-xs-8{width: 66.66%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.33%;}
    .col-xs-11{width: 91.66;}
    .col-xs-12{width: 100%;}
}

