*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 30%;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8{width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}
body{
    background-color: #fbfbfb;
    font-family: "WeblogmaYekan";
}
.container{
    width: 85%;
    margin: 0 auto;
}
:root{
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #9E9E9E;
    --color-lightgray: #f2f2f2;
    --color-darkgary: #323436;
    --color-lightorange: #ff8175;
    --color-darkorange: #ff5242;
    --color-red: #ea0000;
    --color-limo: #c5e60c;
    --color-purple: #af11a5;
}
.send{
    background-color: #ffd701;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-black);
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.link_icon{
    align-self: center;
    font-size: 30px;
    color: var(--color-gray);
    transition: 0.3s;
 }
.link_icon:hover{
    color: var(--color-darkgary);
 }
.link{
    text-decoration: none;
    color: var(--color-gray);
    transition: 0.3s;
}
.link:hover{
    color: var(--color-darkgary);
}
/* Header */
header{
    font-size: 15px;
}
/* Header_top */
.header_top{
    background-image: url(./images/header_top_bg.png);
    background-position: center;
    background-size: cover;
    padding: 5px 0;
}
    /* Header_top_right*/
.header_top_right,.header_top_left{
    display: inline-block;
}
.header_top_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_right ul li{
    list-style: none;
}
.header_top_right ul li a{
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s;
}
.header_top_right ul li:hover a{
    color: var(--color-black);
}
    /* Header_top_left */
.header_top_left{
    float: left;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.header_top_left a{
    color: var(--color-white);
    text-decoration: none;
}
.header_top_left a i{
    display: inline-block;
    margin: 5px;
}
/* Header_bottom */
.header_bottom{
    background-image: url(./images/header_bottom_bg.png);
    background-position: center;
    background-size: cover;
    padding: 15px 0;
}
    /* Header_botoom_top */
.header_bottom_top{
    display: flex;
    margin-bottom: 70px;
}
.header_bottom_top a{
    text-decoration: none;
    color: var(--color-white);
    padding: 0 5px;
    font-size: 12px;
    transition: 0.3s;
}
.header_bottom_top a:hover{
    opacity: 0.8;
}
.header_bottom_top a:first-child{
    border-left: 1px solid var(--color-white);
}
    /* Header_bottom_bottom */
.header_bottom_bottom{
    display: flex;
}
.header_bottom_bottom .link{
    font-size: 12px;
    text-decoration: none;
    color: var(--color-white);
    padding: 10px 15px;
    background-color: var(--color-lightorange);
    word-spacing: 2px;
    border-radius: 2px;
    margin-left: 20px;
    transition: 0.3s;
}
.header_bottom_bottom .link:hover{
    background-color: var(--color-darkorange);
}
.header_bottom_bottom .link span{
    padding: 0 5px;
    margin: 0 5px;
    border-left: 1px solid gray;
}
.header_bottom_bottom .link .fas{
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
}
.input_icon{
    position: relative;
    margin: 0 10px;
    
}
.input_icon input[type="text"]{
    font-size: 10px;
    width: 230px;
    padding: 10px;
    border-radius: 2px;
    outline-color:#42A5F5; 
}
.input_icon a{
    position: absolute;
    left: 0;
    top:0;
    padding: 8px;
    color: var(--color-gray);
}
/* Nav */
nav{
    background-color: var(--color-white);
    box-shadow: 0px 2px 10px var(--color-gray);
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

nav .container, nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav_menu ul{
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}

nav .nav_menu ul li a,nav .nav_socials ul li a i{
    padding: 20px 10px;
}

.nav_menu ul li{
    color: var(--color-gray);
}
.nav_menu ul li a:hover{
    color: var(--color-darkgary);
}
.nav_menu ul li [class$="home"]{
    display: inline-block;
}
.nav_menu ul li [class$="home"]:hover{
    color: var(--color-purple);
    /* Check it shadow */
}
.nav_menu .fas{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
.nav_socials ul li a{
    color: var(--color-gray);
}
.nav_socials ul li:first-child{
    font-size: 13px;
    margin-left: 15px;
    color: var(--color-gray);
}
nav .nav_socials [class$="linkedin-in"]:hover{
    color: #0077B5;
}
nav .nav_socials [class$="instagram"]:hover{
    color: #F77737;
}
nav .nav_socials [class$="twitter"]:hover{
    color: #2fb1eb;
}
nav .nav_socials [class$="facebook-f"]:hover{
    color: #3163a2;
}
/* Submenu */
.menu{
    position: relative;
}
.menu:hover .sub_menu{
    display: block;
}
nav .sub_menu{
    flex-direction: column;
    position: absolute;
    top: 36px;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    border-radius: 2px;
    display: none;
}
.sub_menu li{
    padding: 0;
    display: block;
    width: 100%;
}
.menu .sub_menu li a{
    display: block;
    padding: 8px;
}
.menu .sub_menu li a:hover{
    background-color: var(--color-purple);
    color: var(--color-white);
}
/* Main */
.main_top{
    margin: 20px 0;
}
main .main_top img {
    width: 100%;
}
main .main_bottom{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
main .main_bottom figure{
    padding: 0 20px;
    text-align: center;
}

main .main_bottom figure img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
main .main_bottom figure figcaption{
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    padding: 15px 10px;
    margin-top: -10px;
}

/* portfolio */
.portfolio_nav{
    display: flex;
    background-color: var(--color-white);
    padding: 15px;
    border: 1px solid var(--color-lightgray);
    margin: 20px 0;
}
.portfolio_nav_right{
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--color-gray);
}
.portfolio_nav_right h3,.portfolio_nav_right .link_icon, .portfolio_nav_left{
    font-size: 16px;
    margin: 5px;
}
.portfolio_nav_left{
    text-align: end;
}
.portfolio_nav_left a, .portfolio_nav_right .link_icon{
    color: var(--color-gray);
    text-decoration: none;
    transition: 0.3s;
}
.portfolio_nav_right .link_icon:hover{
    color: var(--color-darkgary);
}
.portfolio_nav_left a i{
    margin: 5px;
    font-size: 10px;
}
.portfolio_nav_left a:hover{
    color: var(--color-purple);
}
    /* portfolio_slider */
.portfolio_slider{
    display: flex;
    justify-content: space-between;
}
.portfolio_slider_item{
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}
.portfolio_slider_item img{
    height: 100%;
    object-fit: cover;
}
.portfolio_slider_item .link, .portfolio_slider_item .subtilte, .portfolio_slider_item ul{
    margin: 10px 0;
}
.portfolio_slider_item ul{
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    align-content: center;
}
.portfolio_slider_item ul li{
    list-style: none;
}
.portfolio_slider_item ul li a{
    color: var(--color-gray);
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--color-lightgray);
    border-radius: 50%;
}
.portfolio_slider_item ul li a i{
    font-size: 10px;
    padding: 10px;
}
.portfolio_slider_item ul li a:hover{
    color: var(--color-white);
    background-color: var(--color-lightorange);
}
.portfolio_slider_item ul li a:active{
    background-color: var(--color-red);
}
.portfolio_slider_item ul li i[class$="shopping-cart"]{
    background-color: var(--color-lightorange);
    border-radius: 50%;
    color: var(--color-white);
}
.portfolio_slider_item ul li i[class$="shopping-cart"]:hover{
    background-color: var(--color-darkorange);
}
.portfolio_slider_item .link{
    color: var(--color-purple);
}
.portfolio_slider_item .link:hover{
    color: var(--color-lightorange);
}
.stock{
    position: absolute;
    top: 20px;
    left: 20px;
}
.stock span{
    color: var(--color-gray);
}
.stock i{
    color: var(--color-white);
    font-size: 10px;
    background-color: var(--color-limo);
    padding: 5px;
    border-radius: 50%;
}


/* Media Query */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-1{width: 20%;}
    .col-lg-2{width: 40%;}
    .col-lg-3{width: 60%;}
    .col-lg-4{width: 80%;}
    .col-lg-5{width: 100%;}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-1{width: 20%;}
    .col-md-2{width: 40%;}
    .col-md-3{width: 60%;}
    .col-md-4{width: 80%;}
    .col-md-5{width: 100%;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .col-sm-1{width: 20%;}
    .col-sm-2{width: 40%;}
    .col-sm-3{width: 60%;}
    .col-sm-4{width: 80%;}
    .col-sm-5{width: 100%;}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .col-xs-1{width: 20%;}
    .col-xs-2{width: 40%;}
    .col-xs-3{width: 60%;}
    .col-xs-4{width: 80%;}
    .col-xs-5{width: 100%;}
}

